~/
*.gif
*.png
*.jpg

*.zip
*.tar*
*.pth
*.pkl

*.json
*.pyc
*.log

core.*
res*
tmp*
*.out

datasets/
data/
test/
__pycache__/
.ipynb_checkpoints/
.vscode/
diffusion/
wandb/
ANP_backdoor/
Default/

!static/*
NCSNPP_CIFAR10_scratch/
NCSN_CIFAR10_my/